#kofe-script-settings-window div.flex-container.flex-column,
#kofe-script-settings-window label.flex-container.flex-column {
	flex-direction: column;
	align-items: normal;
}

#kofe-script-settings-window div.flex-container,
#kofe-script-settings-window label.flex-container {
	align-items: center;
	flex-wrap: nowrap;
}

#kofe-script-settings-window  .separator-bottom {
	border-bottom: 1px solid #2a2a2a;
	padding-bottom: 1vh;
	margin-bottom: 1vh;
	border-radius: 1vh;
}
